body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:380px;
    top:531px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_original {
    background-image: url('../顶导航_files/u198_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1350px;
    height:137px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1356px;
    height:143px;
}

.u2 {
    position:absolute;
    left:2px;
    top:60px;
    width:1346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:1350px;
    height:137px
}

.u3_original {
    background-image: url('../顶导航_files/u200_original.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:99px;
    width:1350px;
    height:36px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1356px;
    height:42px;
}

.u4 {
    position:absolute;
    left:2px;
    top:10px;
    width:1346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:0px;
    top:99px;
    width:1350px;
    height:36px
}

.u5_text {
    position:absolute;
    left:263px;
    top:29px;
    width:150px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:263px;
    top:29px;
    width:150px;
    height:35px
}

.u6_original {
    background-image: url('../顶导航_files/u203_original.png');
}

.u6_container {
    position:absolute;
    left:213px;
    top:35px;
    width:41px;
    height:42px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:48px;
}

.u7 {
    position:absolute;
    left:2px;
    top:13px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:213px;
    top:35px;
    width:41px;
    height:42px
}

.u8_text {
    position:absolute;
    left:263px;
    top:62px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:263px;
    top:62px;
    width:150px;
    height:16px
}

.u9_text {
    position:absolute;
    left:216px;
    top:105px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:216px;
    top:105px;
    width:40px;
    height:20px
}

.u10_text {
    position:absolute;
    left:290px;
    top:105px;
    width:92px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:290px;
    top:105px;
    width:92px;
    height:20px
}

.u11_text {
    position:absolute;
    left:378px;
    top:107px;
    width:92px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:378px;
    top:107px;
    width:92px;
    height:20px
}

.u12_original {
    background-image: url('../顶导航_files/u209_original.png');
}

.u12_container {
    position:absolute;
    left:1057px;
    top:100px;
    width:75px;
    height:36px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:42px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:71px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:1057px;
    top:100px;
    width:75px;
    height:36px
}

.u14_original {
    background-image: url('../顶导航_files/u211_original.png');
}

.u14_container {
    position:absolute;
    left:400px;
    top:129px;
    width:20px;
    height:10px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:16px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:400px;
    top:129px;
    width:20px;
    height:10px
}

.u17_original {
    background-image: url('../顶导航_files/u214_original.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:330px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:336px;
}

.u18 {
    position:absolute;
    left:2px;
    top:157px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:330px
}

.u19_original {
    background-image: url('../顶导航_files/u216_original.png');
}

.u19_container {
    position:absolute;
    left:1px;
    top:8px;
    width:148px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:1px;
    top:8px;
    width:148px;
    height:30px
}

.u21_text {
    position:absolute;
    left:21px;
    top:107px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:21px;
    top:107px;
    width:87px;
    height:20px
}

.u22_text {
    position:absolute;
    left:21px;
    top:45px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:21px;
    top:45px;
    width:87px;
    height:20px
}

.u23_text {
    position:absolute;
    left:21px;
    top:77px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:21px;
    top:77px;
    width:87px;
    height:20px
}

.u24 {
    position:absolute;
    left:20px;
    top:20px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:866px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:1032px;
    top:5px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_text_sketch {
    font-family: 'Applied Font';
}

.u28_original {
    background-image: url('../找回密码_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:201px;
    top:550px;
    width:948px;
    height:80px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:954px;
    height:86px;
}

.u29 {
    position:absolute;
    left:2px;
    top:32px;
    width:944px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:201px;
    top:550px;
    width:948px;
    height:80px
}

.u30 {
    position:absolute;
    left:206px;
    top:580px;
    width:920px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_original {
    background-image: url('../找回密码_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:280px;
    top:190px;
    width:27px;
    height:19px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:19px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:280px;
    top:190px;
    width:27px;
    height:19px
}

.u33 {
    position:absolute;
    left:310px;
    top:190px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_original {
    background-image: url('../找回密码_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:280px;
    top:230px;
    width:560px;
    height:230px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:566px;
    height:236px;
}

.u35 {
    position:absolute;
    left:2px;
    top:107px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:280px;
    top:230px;
    width:560px;
    height:230px
}

.u36 {
    position:absolute;
    left:290px;
    top:251px;
    width:320px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:291px;
    top:285px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37_text_sketch {
    font-family: 'Applied Font';
}

.u38 {
    position:absolute;
    left:290px;
    top:362px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_text_sketch {
    font-family: 'Applied Font';
}

.u39 {
    position:absolute;
    left:290px;
    top:331px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_original {
    background-image: url('../找回密码_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:480px;
    top:360px;
    width:108px;
    height:49px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:49px;
}

.u41 {
    position:absolute;
    left:2px;
    top:16px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:480px;
    top:360px;
    width:108px;
    height:49px
}

.u42 {
    position:absolute;
    left:290px;
    top:405px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42_text_sketch {
    font-family: 'Applied Font';
}

.u43_original {
    background-image: url('../找回密码_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:1160px;
    top:230px;
    width:610px;
    height:200px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:616px;
    height:206px;
}

.u44 {
    position:absolute;
    left:2px;
    top:92px;
    width:606px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:1160px;
    top:230px;
    width:610px;
    height:200px
}

.u45 {
    position:absolute;
    left:1180px;
    top:340px;
    width:120px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_text_sketch {
    font-family: 'Applied Font';
}

.u46 {
    position:absolute;
    left:1180px;
    top:274px;
    width:490px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_original {
    background-image: url('../找回密码_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:1790px;
    top:180px;
    width:440px;
    height:320px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:326px;
}

.u48 {
    position:absolute;
    left:2px;
    top:152px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:1790px;
    top:180px;
    width:440px;
    height:320px
}

.u49 {
    position:absolute;
    left:1190px;
    top:200px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:1810px;
    top:204px;
    width:410px;
    height:288px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:1800px;
    top:150px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_original {
    background-image: url('../找回密码_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:1160px;
    top:460px;
    width:610px;
    height:250px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:616px;
    height:256px;
}

.u53 {
    position:absolute;
    left:2px;
    top:117px;
    width:606px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1160px;
    top:460px;
    width:610px;
    height:250px
}

.u54 {
    position:absolute;
    left:1170px;
    top:471px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:1170px;
    top:511px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:1170px;
    top:550px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:1239px;
    top:506px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57_text_sketch {
    font-family: 'Applied Font';
}

.u58 {
    position:absolute;
    left:1240px;
    top:545px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58_text_sketch {
    font-family: 'Applied Font';
}

.u59 {
    position:absolute;
    left:1246px;
    top:590px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_text_sketch {
    font-family: 'Applied Font';
}

.u60 {
    position:absolute;
    left:1520px;
    top:480px;
    width:240px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:1612px;
    top:277px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:1180px;
    top:240px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

