body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:214px;
    top:227px;
    width:136px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_line {
    background-image: url('../支付选择页面-更多支付方式_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:203px;
    top:253px;
    width:935px;
    height:3px;
}

.u1 {
    position:absolute;
    left:203px;
    top:253px;
    width:935px;
    height:3px
}

.u2_hover {
    background-image: url('../支付选择页面-更多支付方式_files/u2_hover.png');
}

.u2_disabled {
    background-image: url('../支付选择页面-更多支付方式_files/u2_disabled.png');
}

.u2_original {
    background-image: url('../支付选择页面-更多支付方式_files/u2_disabled.png');
}

.u2_container {
    position:absolute;
    left:503px;
    top:224px;
    width:100px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:503px;
    top:224px;
    width:100px;
    height:30px
}

.u4_original {
    background-image: url('../支付选择页面-更多支付方式_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:200px;
    top:150px;
    width:940px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:56px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:200px;
    top:150px;
    width:940px;
    height:50px
}

.u6 {
    position:absolute;
    left:214px;
    top:151px;
    width:326px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:214px;
    top:178px;
    width:366px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_original {
    background-image: url('../支付选择页面-更多支付方式_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:383px;
    top:224px;
    width:110px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:5px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:383px;
    top:224px;
    width:110px;
    height:30px
}

.u10 {
    position:absolute;
    left:532px;
    top:183px;
    width:115px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:220px;
    top:479px;
    width:104px;
    height:34px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_text_sketch {
    font-family: 'Applied Font';
}

.u12_original {
    background-image: url('../支付选择页面-更多支付方式_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:210px;
    top:284px;
    width:773px;
    height:170px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:773px;
    height:170px;
}

.u13 {
    position:absolute;
    left:2px;
    top:77px;
    width:769px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:210px;
    top:284px;
    width:773px;
    height:170px
}

.u14_original {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:911px;
    top:424px;
    width:70px;
    height:31px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:37px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:911px;
    top:424px;
    width:70px;
    height:31px
}

.u16_original {
    background-image: url('../支付选择页面-更多支付方式_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:3px;
    top:-100px;
    width:1560px;
    height:1070px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1566px;
    height:1076px;
}

.u17 {
    position:absolute;
    left:2px;
    top:527px;
    width:1556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:3px;
    top:-100px;
    width:1560px;
    height:1070px
}

.u18_original {
    background-image: url('../支付选择页面-更多支付方式_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:312px;
    top:214px;
    width:730px;
    height:364px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:736px;
    height:370px;
}

.u19 {
    position:absolute;
    left:2px;
    top:174px;
    width:726px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:312px;
    top:214px;
    width:730px;
    height:364px
}

.u20 {
    position:absolute;
    left:339px;
    top:525px;
    width:100px;
    height:34px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_text_sketch {
    font-family: 'Applied Font';
}

.u21_line {
    background-image: url('../支付选择页面-更多支付方式_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:339px;
    top:508px;
    width:668px;
    height:3px;
}

.u21 {
    position:absolute;
    left:339px;
    top:508px;
    width:668px;
    height:3px
}

.u22 {
    position:absolute;
    left:335px;
    top:227px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_container {
    position:absolute;
    left:1016px;
    top:224px;
    width:16px;
    height:16px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:1016px;
    top:224px;
    width:16px;
    height:16px
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:357px;
    top:267px;
    width:123px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:357px;
    top:267px;
    width:123px;
    height:36px
}

.u30 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u31_container {
    position:absolute;
    left:530px;
    top:267px;
    width:123px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:530px;
    top:267px;
    width:123px;
    height:36px
}

.u34 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u35_container {
    position:absolute;
    left:701px;
    top:267px;
    width:123px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:701px;
    top:267px;
    width:123px;
    height:36px
}

.u38 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u39_container {
    position:absolute;
    left:874px;
    top:267px;
    width:123px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:874px;
    top:267px;
    width:123px;
    height:36px
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u43_container {
    position:absolute;
    left:357px;
    top:334px;
    width:123px;
    height:36px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u44 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:357px;
    top:334px;
    width:123px;
    height:36px
}

.u46 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u47_container {
    position:absolute;
    left:530px;
    top:334px;
    width:123px;
    height:36px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:530px;
    top:334px;
    width:123px;
    height:36px
}

.u50 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u51_container {
    position:absolute;
    left:701px;
    top:334px;
    width:123px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:701px;
    top:334px;
    width:123px;
    height:36px
}

.u54 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u55_container {
    position:absolute;
    left:874px;
    top:334px;
    width:123px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:874px;
    top:334px;
    width:123px;
    height:36px
}

.u58 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u59_container {
    position:absolute;
    left:357px;
    top:398px;
    width:123px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:357px;
    top:398px;
    width:123px;
    height:36px
}

.u62 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u63_container {
    position:absolute;
    left:530px;
    top:398px;
    width:123px;
    height:36px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:530px;
    top:398px;
    width:123px;
    height:36px
}

.u66 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u67_container {
    position:absolute;
    left:701px;
    top:398px;
    width:123px;
    height:36px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:701px;
    top:398px;
    width:123px;
    height:36px
}

.u70 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u71_container {
    position:absolute;
    left:874px;
    top:398px;
    width:123px;
    height:36px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:874px;
    top:398px;
    width:123px;
    height:36px
}

.u74 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u75_container {
    position:absolute;
    left:357px;
    top:459px;
    width:123px;
    height:36px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:357px;
    top:459px;
    width:123px;
    height:36px
}

.u78 {
    position:absolute;
    left:16px;
    top:0px;
    width:-4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_original {
    background-image: url('../支付选择页面-更多支付方式_files/u27_original.png');
}

.u79_container {
    position:absolute;
    left:530px;
    top:459px;
    width:123px;
    height:36px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:530px;
    top:459px;
    width:123px;
    height:36px
}

.u81 {
    position:absolute;
    left:1410px;
    top:580px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:1409px;
    top:525px;
    width:100px;
    height:34px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82_text_sketch {
    font-family: 'Applied Font';
}

.u83_original {
    background-image: url('../支付选择页面-更多支付方式_files/u83_original.png');
}

.u83_container {
    position:absolute;
    left:1410px;
    top:670px;
    width:380px;
    height:120px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:386px;
    height:126px;
}

.u84 {
    position:absolute;
    left:2px;
    top:52px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:1410px;
    top:670px;
    width:380px;
    height:120px
}

.u85 {
    position:absolute;
    left:1438px;
    top:715px;
    width:120px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85_text_sketch {
    font-family: 'Applied Font';
}

.u86 {
    position:absolute;
    left:1578px;
    top:715px;
    width:184px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86_text_sketch {
    font-family: 'Applied Font';
}

.u87 {
    position:absolute;
    left:1450px;
    top:603px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:1411px;
    top:647px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_original {
    background-image: url('../顶导航_files/u198_original.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1350px;
    height:137px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1356px;
    height:143px;
}

.u90 {
    position:absolute;
    left:2px;
    top:60px;
    width:1346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:0px;
    top:0px;
    width:1350px;
    height:137px
}

.u91_original {
    background-image: url('../顶导航_files/u200_original.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:99px;
    width:1350px;
    height:36px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1356px;
    height:42px;
}

.u92 {
    position:absolute;
    left:2px;
    top:10px;
    width:1346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:0px;
    top:99px;
    width:1350px;
    height:36px
}

.u93_text {
    position:absolute;
    left:263px;
    top:29px;
    width:150px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:263px;
    top:29px;
    width:150px;
    height:35px
}

.u94_original {
    background-image: url('../顶导航_files/u203_original.png');
}

.u94_container {
    position:absolute;
    left:213px;
    top:35px;
    width:41px;
    height:42px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:48px;
}

.u95 {
    position:absolute;
    left:2px;
    top:13px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:213px;
    top:35px;
    width:41px;
    height:42px
}

.u96_text {
    position:absolute;
    left:263px;
    top:62px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:263px;
    top:62px;
    width:150px;
    height:16px
}

.u97_text {
    position:absolute;
    left:216px;
    top:105px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:216px;
    top:105px;
    width:40px;
    height:20px
}

.u98_text {
    position:absolute;
    left:290px;
    top:105px;
    width:92px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:290px;
    top:105px;
    width:92px;
    height:20px
}

.u99_text {
    position:absolute;
    left:378px;
    top:107px;
    width:92px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:378px;
    top:107px;
    width:92px;
    height:20px
}

.u100_original {
    background-image: url('../顶导航_files/u209_original.png');
}

.u100_container {
    position:absolute;
    left:1057px;
    top:100px;
    width:75px;
    height:36px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:42px;
}

.u101 {
    position:absolute;
    left:2px;
    top:8px;
    width:71px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:1057px;
    top:100px;
    width:75px;
    height:36px
}

.u102_original {
    background-image: url('../顶导航_files/u211_original.png');
}

.u102_container {
    position:absolute;
    left:400px;
    top:129px;
    width:20px;
    height:10px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:16px;
}

.u103 {
    position:absolute;
    left:2px;
    top:-3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:400px;
    top:129px;
    width:20px;
    height:10px
}

.u105_original {
    background-image: url('../顶导航_files/u214_original.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:330px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:336px;
}

.u106 {
    position:absolute;
    left:2px;
    top:157px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:330px
}

.u107_original {
    background-image: url('../顶导航_files/u216_original.png');
}

.u107_container {
    position:absolute;
    left:1px;
    top:8px;
    width:148px;
    height:30px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:36px;
}

.u108 {
    position:absolute;
    left:2px;
    top:7px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:1px;
    top:8px;
    width:148px;
    height:30px
}

.u109_text {
    position:absolute;
    left:21px;
    top:107px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:21px;
    top:107px;
    width:87px;
    height:20px
}

.u110_text {
    position:absolute;
    left:21px;
    top:45px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:21px;
    top:45px;
    width:87px;
    height:20px
}

.u111_text {
    position:absolute;
    left:21px;
    top:77px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:21px;
    top:77px;
    width:87px;
    height:20px
}

.u112 {
    position:absolute;
    left:20px;
    top:20px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:866px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:1032px;
    top:5px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114_text_sketch {
    font-family: 'Applied Font';
}

.u116_original {
    background-image: url('../支付选择页面-更多支付方式_files/u116_original.png');
}

.u116_container {
    position:absolute;
    left:220px;
    top:580px;
    width:948px;
    height:80px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:954px;
    height:86px;
}

.u117 {
    position:absolute;
    left:2px;
    top:32px;
    width:944px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:220px;
    top:580px;
    width:948px;
    height:80px
}

.u118 {
    position:absolute;
    left:225px;
    top:610px;
    width:920px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

