body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../顶导_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:1260px;
    height:119px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1266px;
    height:125px;
}

.u1 {
    position:absolute;
    left:2px;
    top:52px;
    width:1256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:1px;
    width:1260px;
    height:119px
}

.u2_original {
    background-image: url('../顶导_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:488px;
    top:40px;
    width:50px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:488px;
    top:40px;
    width:50px;
    height:50px
}

.u4 {
    position:absolute;
    left:570px;
    top:42px;
    width:330px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../顶导_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:120px;
    width:1261px;
    height:30px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1267px;
    height:36px;
}

.u6 {
    position:absolute;
    left:2px;
    top:7px;
    width:1257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:0px;
    top:120px;
    width:1261px;
    height:30px
}

.u8_original {
    background-image: url('../左导_files/u11_original.png');
}

.u8_container {
    position:absolute;
    left:230px;
    top:151px;
    width:100px;
    height:339px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:345px;
}

.u9 {
    position:absolute;
    left:2px;
    top:162px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:230px;
    top:151px;
    width:100px;
    height:339px
}

.u10 {
    position:absolute;
    left:243px;
    top:195px;
    width:64px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:243px;
    top:231px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:243px;
    top:268px;
    width:87px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:243px;
    top:301px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:243px;
    top:333px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:341px;
    top:310px;
    width:754px;
    height:539px
}

.u16_table {
    background-image: url('../项目审核_files/u16_table.png');
}

.u16_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:758px;
    height:543px;
}

.u17_original {
    background-image: url('../项目审核_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:42px
}

.u19_original {
    background-image: url('../项目审核_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:50px;
    top:0px;
    width:58px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:50px;
    top:0px;
    width:58px;
    height:42px
}

.u21_original {
    background-image: url('../项目审核_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:108px;
    top:0px;
    width:53px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:108px;
    top:0px;
    width:53px;
    height:42px
}

.u23_original {
    background-image: url('../项目审核_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:161px;
    top:0px;
    width:47px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:161px;
    top:0px;
    width:47px;
    height:42px
}

.u25_original {
    background-image: url('../项目审核_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:208px;
    top:0px;
    width:42px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:208px;
    top:0px;
    width:42px;
    height:42px
}

.u27_original {
    background-image: url('../项目审核_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:251px;
    top:0px;
    width:67px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:251px;
    top:0px;
    width:67px;
    height:42px
}

.u29_original {
    background-image: url('../项目审核_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:317px;
    top:0px;
    width:56px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:317px;
    top:0px;
    width:56px;
    height:42px
}

.u31_original {
    background-image: url('../项目审核_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:374px;
    top:0px;
    width:45px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:374px;
    top:0px;
    width:45px;
    height:42px
}

.u33_original {
    background-image: url('../项目审核_files/u31_original.png');
}

.u33_container {
    position:absolute;
    left:419px;
    top:0px;
    width:45px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:419px;
    top:0px;
    width:45px;
    height:42px
}

.u35_original {
    background-image: url('../项目审核_files/u23_original.png');
}

.u35_container {
    position:absolute;
    left:464px;
    top:0px;
    width:47px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:464px;
    top:0px;
    width:47px;
    height:42px
}

.u37_original {
    background-image: url('../项目审核_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:511px;
    top:0px;
    width:51px;
    height:42px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:511px;
    top:0px;
    width:51px;
    height:42px
}

.u39_original {
    background-image: url('../项目审核_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:562px;
    top:0px;
    width:57px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:562px;
    top:0px;
    width:57px;
    height:42px
}

.u41_original {
    background-image: url('../项目审核_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:619px;
    top:0px;
    width:52px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:619px;
    top:0px;
    width:52px;
    height:42px
}

.u43_original {
    background-image: url('../项目审核_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:670px;
    top:0px;
    width:79px;
    height:42px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:670px;
    top:0px;
    width:79px;
    height:42px
}

.u45_original {
    background-image: url('../项目审核_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:42px;
    width:50px;
    height:96px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:0px;
    top:42px;
    width:50px;
    height:96px
}

.u47_original {
    background-image: url('../项目审核_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:50px;
    top:42px;
    width:58px;
    height:96px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:50px;
    top:42px;
    width:58px;
    height:96px
}

.u49_original {
    background-image: url('../项目审核_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:108px;
    top:42px;
    width:53px;
    height:96px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:108px;
    top:42px;
    width:53px;
    height:96px
}

.u51_original {
    background-image: url('../项目审核_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:161px;
    top:42px;
    width:47px;
    height:96px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:161px;
    top:42px;
    width:47px;
    height:96px
}

.u53_original {
    background-image: url('../项目审核_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:208px;
    top:42px;
    width:42px;
    height:96px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:208px;
    top:42px;
    width:42px;
    height:96px
}

.u55_original {
    background-image: url('../项目审核_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:251px;
    top:42px;
    width:67px;
    height:96px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:251px;
    top:42px;
    width:67px;
    height:96px
}

.u57_original {
    background-image: url('../项目审核_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:317px;
    top:42px;
    width:56px;
    height:96px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:317px;
    top:42px;
    width:56px;
    height:96px
}

.u59_original {
    background-image: url('../项目审核_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:374px;
    top:42px;
    width:45px;
    height:96px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:374px;
    top:42px;
    width:45px;
    height:96px
}

.u61_original {
    background-image: url('../项目审核_files/u59_original.png');
}

.u61_container {
    position:absolute;
    left:419px;
    top:42px;
    width:45px;
    height:96px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:419px;
    top:42px;
    width:45px;
    height:96px
}

.u63_original {
    background-image: url('../项目审核_files/u51_original.png');
}

.u63_container {
    position:absolute;
    left:464px;
    top:42px;
    width:47px;
    height:96px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:464px;
    top:42px;
    width:47px;
    height:96px
}

.u65_original {
    background-image: url('../项目审核_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:511px;
    top:42px;
    width:51px;
    height:96px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:511px;
    top:42px;
    width:51px;
    height:96px
}

.u67_original {
    background-image: url('../项目审核_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:562px;
    top:42px;
    width:57px;
    height:96px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:562px;
    top:42px;
    width:57px;
    height:96px
}

.u69_original {
    background-image: url('../项目审核_files/u69_original.png');
}

.u69_container {
    position:absolute;
    left:619px;
    top:42px;
    width:52px;
    height:96px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:619px;
    top:42px;
    width:52px;
    height:96px
}

.u71_original {
    background-image: url('../项目审核_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:670px;
    top:42px;
    width:79px;
    height:96px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:670px;
    top:42px;
    width:79px;
    height:96px
}

.u73_original {
    background-image: url('../项目审核_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:138px;
    width:50px;
    height:99px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:0px;
    top:138px;
    width:50px;
    height:99px
}

.u75_original {
    background-image: url('../项目审核_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:50px;
    top:138px;
    width:58px;
    height:99px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:50px;
    top:138px;
    width:58px;
    height:99px
}

.u77_original {
    background-image: url('../项目审核_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:108px;
    top:138px;
    width:53px;
    height:99px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:108px;
    top:138px;
    width:53px;
    height:99px
}

.u79_original {
    background-image: url('../项目审核_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:161px;
    top:138px;
    width:47px;
    height:99px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:161px;
    top:138px;
    width:47px;
    height:99px
}

.u81_original {
    background-image: url('../项目审核_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:208px;
    top:138px;
    width:42px;
    height:99px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:208px;
    top:138px;
    width:42px;
    height:99px
}

.u83_original {
    background-image: url('../项目审核_files/u83_original.png');
}

.u83_container {
    position:absolute;
    left:251px;
    top:138px;
    width:67px;
    height:99px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:251px;
    top:138px;
    width:67px;
    height:99px
}

.u85_original {
    background-image: url('../项目审核_files/u85_original.png');
}

.u85_container {
    position:absolute;
    left:317px;
    top:138px;
    width:56px;
    height:99px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:317px;
    top:138px;
    width:56px;
    height:99px
}

.u87_original {
    background-image: url('../项目审核_files/u87_original.png');
}

.u87_container {
    position:absolute;
    left:374px;
    top:138px;
    width:45px;
    height:99px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:374px;
    top:138px;
    width:45px;
    height:99px
}

.u89_original {
    background-image: url('../项目审核_files/u87_original.png');
}

.u89_container {
    position:absolute;
    left:419px;
    top:138px;
    width:45px;
    height:99px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:419px;
    top:138px;
    width:45px;
    height:99px
}

.u91_original {
    background-image: url('../项目审核_files/u79_original.png');
}

.u91_container {
    position:absolute;
    left:464px;
    top:138px;
    width:47px;
    height:99px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:464px;
    top:138px;
    width:47px;
    height:99px
}

.u93_original {
    background-image: url('../项目审核_files/u93_original.png');
}

.u93_container {
    position:absolute;
    left:511px;
    top:138px;
    width:51px;
    height:99px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:511px;
    top:138px;
    width:51px;
    height:99px
}

.u95_original {
    background-image: url('../项目审核_files/u95_original.png');
}

.u95_container {
    position:absolute;
    left:562px;
    top:138px;
    width:57px;
    height:99px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:562px;
    top:138px;
    width:57px;
    height:99px
}

.u97_original {
    background-image: url('../项目审核_files/u97_original.png');
}

.u97_container {
    position:absolute;
    left:619px;
    top:138px;
    width:52px;
    height:99px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:619px;
    top:138px;
    width:52px;
    height:99px
}

.u99_original {
    background-image: url('../项目审核_files/u99_original.png');
}

.u99_container {
    position:absolute;
    left:670px;
    top:138px;
    width:79px;
    height:99px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:670px;
    top:138px;
    width:79px;
    height:99px
}

.u101_original {
    background-image: url('../项目审核_files/u73_original.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:237px;
    width:50px;
    height:99px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:0px;
    top:237px;
    width:50px;
    height:99px
}

.u103_original {
    background-image: url('../项目审核_files/u75_original.png');
}

.u103_container {
    position:absolute;
    left:50px;
    top:237px;
    width:58px;
    height:99px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:50px;
    top:237px;
    width:58px;
    height:99px
}

.u105_original {
    background-image: url('../项目审核_files/u77_original.png');
}

.u105_container {
    position:absolute;
    left:108px;
    top:237px;
    width:53px;
    height:99px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:108px;
    top:237px;
    width:53px;
    height:99px
}

.u107_original {
    background-image: url('../项目审核_files/u79_original.png');
}

.u107_container {
    position:absolute;
    left:161px;
    top:237px;
    width:47px;
    height:99px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:161px;
    top:237px;
    width:47px;
    height:99px
}

.u109_original {
    background-image: url('../项目审核_files/u81_original.png');
}

.u109_container {
    position:absolute;
    left:208px;
    top:237px;
    width:42px;
    height:99px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:208px;
    top:237px;
    width:42px;
    height:99px
}

.u111_original {
    background-image: url('../项目审核_files/u83_original.png');
}

.u111_container {
    position:absolute;
    left:251px;
    top:237px;
    width:67px;
    height:99px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:251px;
    top:237px;
    width:67px;
    height:99px
}

.u113_original {
    background-image: url('../项目审核_files/u85_original.png');
}

.u113_container {
    position:absolute;
    left:317px;
    top:237px;
    width:56px;
    height:99px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:317px;
    top:237px;
    width:56px;
    height:99px
}

.u115_original {
    background-image: url('../项目审核_files/u87_original.png');
}

.u115_container {
    position:absolute;
    left:374px;
    top:237px;
    width:45px;
    height:99px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:374px;
    top:237px;
    width:45px;
    height:99px
}

.u117_original {
    background-image: url('../项目审核_files/u87_original.png');
}

.u117_container {
    position:absolute;
    left:419px;
    top:237px;
    width:45px;
    height:99px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:419px;
    top:237px;
    width:45px;
    height:99px
}

.u119_original {
    background-image: url('../项目审核_files/u79_original.png');
}

.u119_container {
    position:absolute;
    left:464px;
    top:237px;
    width:47px;
    height:99px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:464px;
    top:237px;
    width:47px;
    height:99px
}

.u121_original {
    background-image: url('../项目审核_files/u93_original.png');
}

.u121_container {
    position:absolute;
    left:511px;
    top:237px;
    width:51px;
    height:99px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:511px;
    top:237px;
    width:51px;
    height:99px
}

.u123_original {
    background-image: url('../项目审核_files/u95_original.png');
}

.u123_container {
    position:absolute;
    left:562px;
    top:237px;
    width:57px;
    height:99px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:562px;
    top:237px;
    width:57px;
    height:99px
}

.u125_original {
    background-image: url('../项目审核_files/u97_original.png');
}

.u125_container {
    position:absolute;
    left:619px;
    top:237px;
    width:52px;
    height:99px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:619px;
    top:237px;
    width:52px;
    height:99px
}

.u127_original {
    background-image: url('../项目审核_files/u99_original.png');
}

.u127_container {
    position:absolute;
    left:670px;
    top:237px;
    width:79px;
    height:99px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:670px;
    top:237px;
    width:79px;
    height:99px
}

.u129_original {
    background-image: url('../项目审核_files/u73_original.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:336px;
    width:50px;
    height:99px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:0px;
    top:336px;
    width:50px;
    height:99px
}

.u131_original {
    background-image: url('../项目审核_files/u75_original.png');
}

.u131_container {
    position:absolute;
    left:50px;
    top:336px;
    width:58px;
    height:99px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:50px;
    top:336px;
    width:58px;
    height:99px
}

.u133_original {
    background-image: url('../项目审核_files/u77_original.png');
}

.u133_container {
    position:absolute;
    left:108px;
    top:336px;
    width:53px;
    height:99px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:108px;
    top:336px;
    width:53px;
    height:99px
}

.u135_original {
    background-image: url('../项目审核_files/u79_original.png');
}

.u135_container {
    position:absolute;
    left:161px;
    top:336px;
    width:47px;
    height:99px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:161px;
    top:336px;
    width:47px;
    height:99px
}

.u137_original {
    background-image: url('../项目审核_files/u81_original.png');
}

.u137_container {
    position:absolute;
    left:208px;
    top:336px;
    width:42px;
    height:99px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:208px;
    top:336px;
    width:42px;
    height:99px
}

.u139_original {
    background-image: url('../项目审核_files/u83_original.png');
}

.u139_container {
    position:absolute;
    left:251px;
    top:336px;
    width:67px;
    height:99px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:251px;
    top:336px;
    width:67px;
    height:99px
}

.u141_original {
    background-image: url('../项目审核_files/u85_original.png');
}

.u141_container {
    position:absolute;
    left:317px;
    top:336px;
    width:56px;
    height:99px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:317px;
    top:336px;
    width:56px;
    height:99px
}

.u143_original {
    background-image: url('../项目审核_files/u87_original.png');
}

.u143_container {
    position:absolute;
    left:374px;
    top:336px;
    width:45px;
    height:99px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:374px;
    top:336px;
    width:45px;
    height:99px
}

.u145_original {
    background-image: url('../项目审核_files/u87_original.png');
}

.u145_container {
    position:absolute;
    left:419px;
    top:336px;
    width:45px;
    height:99px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:419px;
    top:336px;
    width:45px;
    height:99px
}

.u147_original {
    background-image: url('../项目审核_files/u79_original.png');
}

.u147_container {
    position:absolute;
    left:464px;
    top:336px;
    width:47px;
    height:99px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:464px;
    top:336px;
    width:47px;
    height:99px
}

.u149_original {
    background-image: url('../项目审核_files/u93_original.png');
}

.u149_container {
    position:absolute;
    left:511px;
    top:336px;
    width:51px;
    height:99px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:511px;
    top:336px;
    width:51px;
    height:99px
}

.u151_original {
    background-image: url('../项目审核_files/u95_original.png');
}

.u151_container {
    position:absolute;
    left:562px;
    top:336px;
    width:57px;
    height:99px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:562px;
    top:336px;
    width:57px;
    height:99px
}

.u153_original {
    background-image: url('../项目审核_files/u97_original.png');
}

.u153_container {
    position:absolute;
    left:619px;
    top:336px;
    width:52px;
    height:99px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:619px;
    top:336px;
    width:52px;
    height:99px
}

.u155_original {
    background-image: url('../项目审核_files/u99_original.png');
}

.u155_container {
    position:absolute;
    left:670px;
    top:336px;
    width:79px;
    height:99px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:670px;
    top:336px;
    width:79px;
    height:99px
}

.u157_original {
    background-image: url('../项目审核_files/u73_original.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:435px;
    width:50px;
    height:99px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:0px;
    top:435px;
    width:50px;
    height:99px
}

.u159_original {
    background-image: url('../项目审核_files/u75_original.png');
}

.u159_container {
    position:absolute;
    left:50px;
    top:435px;
    width:58px;
    height:99px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:50px;
    top:435px;
    width:58px;
    height:99px
}

.u161_original {
    background-image: url('../项目审核_files/u77_original.png');
}

.u161_container {
    position:absolute;
    left:108px;
    top:435px;
    width:53px;
    height:99px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:108px;
    top:435px;
    width:53px;
    height:99px
}

.u163_original {
    background-image: url('../项目审核_files/u79_original.png');
}

.u163_container {
    position:absolute;
    left:161px;
    top:435px;
    width:47px;
    height:99px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:161px;
    top:435px;
    width:47px;
    height:99px
}

.u165_original {
    background-image: url('../项目审核_files/u81_original.png');
}

.u165_container {
    position:absolute;
    left:208px;
    top:435px;
    width:42px;
    height:99px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:208px;
    top:435px;
    width:42px;
    height:99px
}

.u167_original {
    background-image: url('../项目审核_files/u83_original.png');
}

.u167_container {
    position:absolute;
    left:251px;
    top:435px;
    width:67px;
    height:99px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:251px;
    top:435px;
    width:67px;
    height:99px
}

.u169_original {
    background-image: url('../项目审核_files/u85_original.png');
}

.u169_container {
    position:absolute;
    left:317px;
    top:435px;
    width:56px;
    height:99px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:317px;
    top:435px;
    width:56px;
    height:99px
}

.u171_original {
    background-image: url('../项目审核_files/u87_original.png');
}

.u171_container {
    position:absolute;
    left:374px;
    top:435px;
    width:45px;
    height:99px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:374px;
    top:435px;
    width:45px;
    height:99px
}

.u173_original {
    background-image: url('../项目审核_files/u87_original.png');
}

.u173_container {
    position:absolute;
    left:419px;
    top:435px;
    width:45px;
    height:99px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:419px;
    top:435px;
    width:45px;
    height:99px
}

.u175_original {
    background-image: url('../项目审核_files/u79_original.png');
}

.u175_container {
    position:absolute;
    left:464px;
    top:435px;
    width:47px;
    height:99px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:464px;
    top:435px;
    width:47px;
    height:99px
}

.u177_original {
    background-image: url('../项目审核_files/u93_original.png');
}

.u177_container {
    position:absolute;
    left:511px;
    top:435px;
    width:51px;
    height:99px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:511px;
    top:435px;
    width:51px;
    height:99px
}

.u179_original {
    background-image: url('../项目审核_files/u95_original.png');
}

.u179_container {
    position:absolute;
    left:562px;
    top:435px;
    width:57px;
    height:99px;
}

.u180 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:562px;
    top:435px;
    width:57px;
    height:99px
}

.u181_original {
    background-image: url('../项目审核_files/u97_original.png');
}

.u181_container {
    position:absolute;
    left:619px;
    top:435px;
    width:52px;
    height:99px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:619px;
    top:435px;
    width:52px;
    height:99px
}

.u183_original {
    background-image: url('../项目审核_files/u99_original.png');
}

.u183_container {
    position:absolute;
    left:670px;
    top:435px;
    width:79px;
    height:99px;
}

.u184 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:670px;
    top:435px;
    width:79px;
    height:99px
}

.u185 {
    position:absolute;
    left:233px;
    top:126px;
    width:240px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:1023px;
    top:380px;
    width:24px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u187 {
    position:absolute;
    left:1057px;
    top:380px;
    width:26px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u188 {
    position:absolute;
    left:385px;
    top:163px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:447px;
    top:160px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u190 {
    position:absolute;
    left:615px;
    top:160px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u191 {
    position:absolute;
    left:553px;
    top:163px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:725px;
    top:160px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u193 {
    position:absolute;
    left:337px;
    top:163px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:338px;
    top:196px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:388px;
    top:196px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u196 {
    position:absolute;
    left:337px;
    top:233px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:426px;
    top:233px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u198 {
    position:absolute;
    left:583px;
    top:195px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u199 {
    position:absolute;
    left:618px;
    top:232px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u200 {
    position:absolute;
    left:340px;
    top:270px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:401px;
    top:270px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u202 {
    position:absolute;
    left:600px;
    top:270px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

