body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../支付确认页-1_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:203px;
    top:152px;
    width:937px;
    height:84px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:943px;
    height:90px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:933px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:203px;
    top:152px;
    width:937px;
    height:84px
}

.u2 {
    position:absolute;
    left:214px;
    top:164px;
    width:326px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:214px;
    top:195px;
    width:366px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:214px;
    top:257px;
    width:151px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:220px;
    top:399px;
    width:140px;
    height:34px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: 'Applied Font';
}

.u6 {
    position:absolute;
    left:532px;
    top:197px;
    width:115px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_original {
    background-image: url('../支付确认页-1_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:297px;
    top:289px;
    width:134px;
    height:48px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:134px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:297px;
    top:289px;
    width:134px;
    height:48px
}

.u9 {
    position:absolute;
    left:214px;
    top:304px;
    width:151px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:381px;
    top:409px;
    width:115px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_original {
    background-image: url('../支付确认页-1_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:201px;
    top:550px;
    width:948px;
    height:80px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:954px;
    height:86px;
}

.u12 {
    position:absolute;
    left:2px;
    top:32px;
    width:944px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:201px;
    top:550px;
    width:948px;
    height:80px
}

.u13 {
    position:absolute;
    left:206px;
    top:580px;
    width:920px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_original {
    background-image: url('../顶导航_files/u198_original.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1350px;
    height:137px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1356px;
    height:143px;
}

.u15 {
    position:absolute;
    left:2px;
    top:60px;
    width:1346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:1350px;
    height:137px
}

.u16_original {
    background-image: url('../顶导航_files/u200_original.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:99px;
    width:1350px;
    height:36px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1356px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:1346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:0px;
    top:99px;
    width:1350px;
    height:36px
}

.u18_text {
    position:absolute;
    left:263px;
    top:29px;
    width:150px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:263px;
    top:29px;
    width:150px;
    height:35px
}

.u19_original {
    background-image: url('../顶导航_files/u203_original.png');
}

.u19_container {
    position:absolute;
    left:213px;
    top:35px;
    width:41px;
    height:42px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:48px;
}

.u20 {
    position:absolute;
    left:2px;
    top:13px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:213px;
    top:35px;
    width:41px;
    height:42px
}

.u21_text {
    position:absolute;
    left:263px;
    top:62px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:263px;
    top:62px;
    width:150px;
    height:16px
}

.u22_text {
    position:absolute;
    left:216px;
    top:105px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:216px;
    top:105px;
    width:40px;
    height:20px
}

.u23_text {
    position:absolute;
    left:290px;
    top:105px;
    width:92px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:290px;
    top:105px;
    width:92px;
    height:20px
}

.u24_text {
    position:absolute;
    left:378px;
    top:107px;
    width:92px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:378px;
    top:107px;
    width:92px;
    height:20px
}

.u25_original {
    background-image: url('../顶导航_files/u209_original.png');
}

.u25_container {
    position:absolute;
    left:1057px;
    top:100px;
    width:75px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:71px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:1057px;
    top:100px;
    width:75px;
    height:36px
}

.u27_original {
    background-image: url('../顶导航_files/u211_original.png');
}

.u27_container {
    position:absolute;
    left:400px;
    top:129px;
    width:20px;
    height:10px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:16px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:400px;
    top:129px;
    width:20px;
    height:10px
}

.u30_original {
    background-image: url('../顶导航_files/u214_original.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:330px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:336px;
}

.u31 {
    position:absolute;
    left:2px;
    top:157px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:330px
}

.u32_original {
    background-image: url('../顶导航_files/u216_original.png');
}

.u32_container {
    position:absolute;
    left:1px;
    top:8px;
    width:148px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:7px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:1px;
    top:8px;
    width:148px;
    height:30px
}

.u34_text {
    position:absolute;
    left:21px;
    top:107px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:21px;
    top:107px;
    width:87px;
    height:20px
}

.u35_text {
    position:absolute;
    left:21px;
    top:45px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:21px;
    top:45px;
    width:87px;
    height:20px
}

.u36_text {
    position:absolute;
    left:21px;
    top:77px;
    width:87px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:21px;
    top:77px;
    width:87px;
    height:20px
}

.u37 {
    position:absolute;
    left:20px;
    top:20px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:866px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:1032px;
    top:5px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39_text_sketch {
    font-family: 'Applied Font';
}

